@{
    ViewData ["Title"] = "Index";
}
@section Scripts {

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <div class="container">
        <br />
        <br />
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <script type="text/javascript">
                        $(document).ready(() => {
                            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7039/signalrhub").build();
                            $("#constatus").text(connection.state);
                            connection.start().then(() => {
                                $("#constatus").text(connection.state);
                                
                                setInterval(() => {
                                    connection.invoke("SentStatistic")
                                }, 1000);

                            }).catch((err) => {
                                console.log(err);
                            });
                            connection.on("ReceiveStatusOnWayCount", (value1) => {
                                $("#onwaycount").text(value1);
                            });
                            connection.on("ReceiveStatusTotalPrice", (value2) => {
                                $("#totalpricecount").text(value2);
                            });
                            connection.on("ReceiveStatusTotalDelivery", (value3) => {
                                $("#totaldeliverycount").text(value3);
                            });
                            
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

}
<div class="col-md-8 offset-2">
    <div class="alert alert-primary"> Connection Status: <strong id="constatus"></strong> </div>
    <div class="alert alert-primary"> On Way Count: <strong id="onwaycount"></strong> </div>
    <div class="alert alert-primary"> Total Price Count: <strong id="totalpricecount"></strong> </div>
    <div class="alert alert-primary"> Total Delivery Count: <strong id="totaldeliverycount"></strong> </div> 
</div>


